# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Android
app/android/.gradle/
app/android/app/build/
app/android/.idea/
*.iml
*.apk

# macOS system files
.DS_Store

# JetBrains
.idea/
*.iml

# VS Code
.vscode/

# React Native
.expo/
.env
*.keystore

# Other cache
__tests__/coverage/
coverage/
